<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

       <context:component-scan base-package="CarSaleManagerSystem"/>
       <context:annotation-config/>

       <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
              <property name="locations">
                     <list>
                            <value>classpath:DB.properties</value>
                     </list>
              </property>
       </bean>

       <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
              <property name="driverClassName" value="${jdbc.driverClassName}"/>
              <property name="url" value="${jdbc.uri}"/>
              <property name="username" value="${jdbc.username}"/>
              <property name="password" value="root"/>
       </bean>

       <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
              <property name="dataSource" ref="dataSource"/>
              <property name="mappingResources">
                     <list>
                            <value>User.hbm.xml</value>
                            <value>Role.hbm.xml</value>
                            <value>Car.hbm.xml</value>
                            <value>Garage.hbm.xml</value>
                            <value>Customer.hbm.xml</value>
                            <value>Order.hbm.xml</value>
                            <value>Gift.hbm.xml</value>
                            <value>Insurance.hbm.xml</value>
                            <value>Color.hbm.xml</value>
                            <value>StockStatus.hbm.xml</value>
                            <value>CarBrand.hbm.xml</value>
                            <value>InsuranceType.hbm.xml</value>
                            <value>GiftType.hbm.xml</value>
                            <value>SFX.hbm.xml</value>
                            <value>CarType.hbm.xml</value>
                            <value>AdditionalProduct.hbm.xml</value>
                            <value>AdditionalProductType.hbm.xml</value>
                            <value>Job.hbm.xml</value>
                            <value>JobStatus.hbm.xml</value>
                            <value>Level.hbm.xml</value>
                            <value>Apartment.hbm.xml</value>
                            <value>GiftBrand.hbm.xml</value>
                            <value>CarPlan.hbm.xml</value>
                            <value>SalesPlan.hbm.xml</value>
                            <value>MarketActivity.hbm.xml</value>
                            <value>SoleService.hbm.xml</value>
                            <value>SoleServiceContent.hbm.xml</value>
                            <value>SoleServiceType.hbm.xml</value>
                     </list>
              </property>
              <property name="hibernateProperties">
                     <props>
                            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                            <prop key="hibernate.show_sql">true</prop>
                            <prop key="connection.pool_size">1</prop>
                            <prop key="hbm2ddl.auto">update</prop>
                            <prop key="current_session_context_class">thread</prop>
                     </props>
              </property>
       </bean>

       <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
              <property name="sessionFactory" ref="sessionFactory"/>
       </bean>

       <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>


       <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>

